.controls {
  display: flex;
  flex-direction: row;
  direction: ltr;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.controls__indicator_text {
  line-height: 1.5em;
  color: #666;
  margin: 0;
}

.controls__indicator_text--highlighted {
  color: #333;
  font-weight: bold;
}

.controls__button {
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  background-color: #333;
  box-shadow: 0 1px 2px #acacac;
  color: #fff;
  padding: 12px 24px;
  cursor: pointer;
}

.controls__button:hover {
  background-color: #444;
}

.controls__button--disabled,
.controls__button--disabled:hover {
  opacity: .4;
  pointer-events: none;
  cursor: default;
}
