.card {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #acacac;
  padding: 12px;
}

.card--disabled {
  background-color: #ddd;
  color: #999;
  pointer-events: none;
}

.card--selected {
  border-color: #666;
  background-color: #fff;
  box-shadow: 0 3px 8px #909090;
}

.card__title {
  color: #333;
  margin: 0 0 10px;
}

.card__text {
  color: #666;
  margin: 0;
}