.card_grid {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media (min-width: 768px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  } 
}

@media (min-width: 945px) {
  .card_grid {
    grid-template-columns: repeat(4, 1fr);
  } 
}